<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
</head>
<body>
    <header>
        <h1>Cadastro de Usuário</h1>   
    </header>
    <main>
        <section>
            <form>
                <input type="text" id="nome" name="nome"
                placeholder="nome">

                <input type="text" id="email" name="email"
                placeholder="email">

                <input type="number" id="cpf" name="cpf"
                placeholder="cpf">

                <input type="password" id="senha" name="senha"
                placeholder="senha">

                <input type="password" id="repita_senha" name="repita_senha"
                placeholder="repita senha">

                <input type="text" id="cidade" name="cidade"
                placeholder="cidade">

                <input type="text" id="perfil" name="perfil"
                placeholder="perfil">
                
                <button class="botao">Criar</button>
            </form>
        </section>
    </main>
</body>


