body {
  background-image: linear-gradient(to bottom, #231C78, #2144C0) !important;
  margin: 0;
  background-size: 100% 100% !important;
  background-attachment: fixed !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root{
  --bg1: #231C78;
  --bg2: #2144C0;
  --success:#4EA724;
}

ion-header{
  margin-bottom: 2rem;
}

.titulo-adm{
  width: 100%;
  text-align: center;
}

.cadastro-adm, .navegacao-adm{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 0 15px;
  justify-content: center;
}
.cadastro-adm input{
  border-radius: 100px;
  background-color: #D9D9D9;
  padding: 1rem 2rem;
  font-size: 1.25rem;
}

.cadastro-adm button{
  border-radius: 100px;
  width: 100%;
  padding: 1rem;
  font-size: 1.25rem;
  background-color: var(--success);
}

.navegacao-adm button{
  border-radius: 100px;
  width: 100%;
  padding: 1rem;
  font-size: 1.25rem;
  background-color: white;
  border-color: var(--bg1);
  color:var(--bg1);
  font-weight: 600;
}

ion-list {
  background-color: #00000000 !important;
}

.send-button{
  border-radius: 100px;
  width: 100%;
  padding: 1rem;
  font-size: 1.25rem;
  background-color: var(--success) !important;
}

.send-button .button-native{
  background-color: red;
}

.button-native{
  background-color: #00000000 !important;
}