<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Usuario</title>
</head>
<body>
    <header class="titulo-adm">Perfil Usuario</header>
    <form class="cadastro-adm">
        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" name="descricao" required><br><br>

        <label for="adm">ADM:</label>
        <input type="number" id="adm" name="adm" required><br><br>

        <input type="submit" value="Enviar">
    </form>
</body>

